chromadb==1.0.15
sqlite==3.50.2
protobuf<5.0.0
google-generativeai==0.8.5
google-genai==1.7.0
keybert==0.9.0
numpy==2.2.6
plotly==6.2.0
pymupdf==1.26.3
scikit-learn==1.7.1
spacy==3.8.7
streamlit==1.48.0
